@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
  /*background-color: #A5A4B4;*/
  background-color:whitesmoke;
}
button {
  font-size:17px;
  border-radius: 15px;
  border: 1px transparent;
  box-shadow: 4px 3px 0px 0px;
  text-shadow: 1px 0px 0px;
}
button:focus {
  outline:none;
}
form {
  text-align: left;
}
#board {
  display:flex;
  width: 60vw;
  height:50vh;
  flex-direction:column;
  margin: 0 auto 10% auto;
  margin-top:3%;
}
/*.row:nth-child(odd) div:nth-child(odd) {
  background-color:#478E71;
}
.row:nth-child(even) div:nth-child(even) {
  background-color:#478E71;
}*/
.active {
  color: green;
}

.btn {
  flex-grow: 2;
  z-index: 100;
  color:#01524B;
}
.child {
  width: 30%;
}
.header {
  background-color:#76CAD4;
  font-family: 'Baloo', cursive;
  text-align: center;
  position:relative;
  margin:-25px -10px 0px -10px;
  height:35vh;
  overflow:auto;
  font-size:3vh;
  padding:0px 5% 1% 5%;
}

.players {
  display:flex;
  justify-content: space-around;
  text-align: center;
  align-items:center;
}

.row {
  width:100%;
  display:flex;
  height:calc(100%/3);
}

.square.selected:hover {
  background-color:#57BD8E;
}

.square {
  border: 1.5px solid #01524B;
  margin: 2px;
  border-radius:10px;
  width:calc(100%/3);
  font-size:3.5vw;
  display:flex;
  justify-content: center;
  align-items:center;
  text-shadow: 2px 2px 2px gray;
}

.square:hover {
  background-color:#A5A4B4;;
}

.winner{
  color: green !important;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 500ms;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: 500ms;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: 500ms;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: 5000ms;
  animation-timing-function: linear;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}