
#board {
  display:flex;
  width: 60vw;
  height:50vh;
  border:1.5px solid black;
  flex-direction:column;
  margin: 0 auto;
  margin-top:3%;
}
.active {
  color: green;
}
.header {
  background-color:lightblue;
  text-align: center;
  position:relative;
  margin:-25px -10px 0px -10px;
  height:30vh;
  overflow:hidden;
  font-size:3vh;
  padding:0px 5% 1% 5%;
}

.players {
  display:flex;
  justify-content: space-around;
  text-align: center;
  align-items:center;
}

.row {
  width:100%;
  display:flex;
  height:calc(100%/3);
}

.square.selected:hover {
  background-color:lightpink;
}

.square {
  border: 1.5px solid red;
  width:calc(100%/3);
  /*text-align: center;*/
  font-size:3.5vw;
  display:flex;
  justify-content: center;
  align-items:center;
}

.square:hover {
  background-color:lightgray;
}
